.container {
	max-width: 800px;
}

body {
	background-color: #8080ff;
	text-shadow: 1px 1px #000000;
	color: white;
	font-family: "Garamond";
}

h1 {
	border-bottom: 2px solid white;
	margin-bottom: 10px;
}

.encouragement {
	font-size: 120%;
	background-color: lightgrey;
	color: black;
	text-shadow: none;
	padding: 5px;
	margin: 3px;
}

.invalid {
	background-color: black;
	color: red;
	padding: 2px;
	border-radius: 5px;
}

.valid {
	background-color: black;
	color: green;
	padding: 2px;
	border-radius: 5px;
}

.prompt {
	font-size: 110%;
}

.input {
	color: black;
	font-family: "Courier";
}

.inputlabel {
	color: white;
}

select {
	max-width: 300px;
}

option {
	max-width: 300px;
}

.sliderbox {
	position: relative;
	width: 100%;
}

.slider {
	/* bad non relative */
	width: 100%;
	max-width: 290px;
}

.leftlabel {
	position: absolute;
	left: 0;
}

.centerandrightlabelbox {
	margin: 0 auto;
	text-align: center;
}

.rightlabel {
	position: absolute;
	right: 0;
}

#description {
	width: 50%;
	min-width: 260px;
	overflow-y: scroll;
}

#content {
	width: 100%;
	overflow-y: scroll;
}

.ratingRow {
	margin: 0 auto;
}

.ratingArea {
	background-color: darkgrey;
	border: 1px solid black;
	padding-left: 1px;
	padding-right: 1px;
	max-width: 290px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}

.ratingAreaLabel {
	text-decoration: underline;
	color: black;
	text-shadow: none;
	font-weight: bold;
}

.ratingAreaLabelDiv {
	text-align: center;
}

.sectionheader {
	text-decoration: underline;
	font-size: 200%;
	color: #8080ff;
	font-weight: bold;
}

.newdreamsectionheader {
	color: grey;
}

#realizationdiv {
	background-color: white;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid black;
	padding: 5px;
	color: black;
	text-shadow: none;
	font-weight: bold;
}

#extra {
	width: 100%;
	overflow-y: scroll;
}

#deletedreambutton {
	color: red;
	font-weight: bold;
}


/* tags */

fieldset {
    border: solid 1px #000;
    padding:10px;
    display:block;
    clear:both;
    margin:5px 0px;
}

.hint {
	text-shadow: 1px 1px #000000;
	color: white;
	font-family: "Garamond";
}

.smaller {
	font-size: 80%;
}

legend {
    padding:0px 10px;
    background:black;
    color:#FFF;
}

.tag {
	color: black;
	margin: 5px;
}

.submit {
	color: black;
}

.question {
	margin-bottom: 10px;
}

.section {
	margin-bottom: 20px;
	border: 1px solid black;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

#core {
	background-color: #4d4d4d;
}

#demographics {
	background-color: #1f3d7a;
}

#education {
	background-color: #4d4d4d;
}

#obligations {
	background-color: #1f3d7a;
}

#satisfaction {
	background-color: #4d4d4d;
}

#starter {
	background-color: #262626;
}

#lucidity {
	background-color: #D4AF37;
}

#ratings {
	background-color: #262626;
}

#headlines {
	background-color: #262626;
}

#dreamtagsection {
	border: none;
}

#tags {
	background-color: #8080ff;
}

#narrative {
	border: none;
}

#extras {
	border: none;
}

#editcontent {
	background-color: #4d4d4d;
}

#edittocome {
	background-color: #4d4d4d;	
}

#deletedream {
	background-color: #4d4d4d;
}

@media screen and (max-width: 767px) {
	#core {
    	width: 290px;
	}
	#demographics {
    	width: 290px;
	}
	#education {
    	width: 290px;
	}
	#obligations {
    	width: 290px;
	}

	#starter {
		width: 290px;
	}
	#lucidity {
		with: 290px;
	}
	#ratings {
		width: 290px;
	}
	#headlines {
		width: 290px;
	}
}

@media screen and (min-width: 640px) and (max-width: 767px) {
	.col-onlymid-6 {
    	width: 50%;
	}
	#demographics {
		background-color: #4d4d4d;
	}
	#education {
		background-color: #1f3d7a;
	}
}

@media screen and (min-width: 768px) {
	#core {
    	width: 640px;
	}
	#demographics {
    	width: 640px;
	}
	#education {
    	width: 640px;
	}
	#obligations {
    	width: 640px;
	}

	#starter {
		width: 640px;
	}
	#lucidity {
		width: 640px;
	}
	#ratings {
		width: 640px;
	}
	#headlines {
		width: 640px;
	}
}

/* tag legend with tips */

.taglegend {
	display: inline-block;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
	margin-bottom: 5px;
}

.taglegendtag {
	display: inline-block;
	position: relative;
	padding: 5px;
	text-shadow: none;

}

.tagtiptext {
	visibility: hidden;
    width: 200px;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    top: 120%;
    z-index: 1;
}

/* .visible must come after .tagtiptext */

.visible {
	visibility: visible;
}

/**/

#typetagtip {
    left: -10px;
}

#beingtagtip {
    left: -40px;
}

#placetagtip {
    left: -80px;
}

#objecttagtip {
    left: -120px;
}

#emotiontagtip {
    left: -10px;
}

@media screen and (min-width: 325px) {
	#emotiontagtip {
    	left: -120px;
	}
}

#sensationtagtip {
    left: -10px;
}

@media screen and (min-width: 400px) {
	#sensationtagtip {
    	left: -120px;
	}
}

.taglegendtag:hover {
	border: 1px dotted #000;
}

.taglegendtag:hover .tagtiptext {
    visibility: visible;
}

#tagnamemessage {
	background-color: black;
}

.remove {
    margin:5px;
}

.removetext {
	color: #b30000;
}

#newtagquestion {
	border: 2px dotted red;
	background-color: lightgrey;
	padding: 5px;
	color: #000000;
	text-shadow: none;
}

#newtagquestion .hint {
	color: #000000;
	text-shadow: none;
}

#newtagquestion .inputlabel {
	color: #000000;
}

#newtagquestion .inputlabel .newtaglabelkind {
	font-weight: bold;
}

#tagidentifiers {
	border: 2px dotted red;
	background-color: black;
	padding: 5px;
	color: white;
	text-shadow: none;
}

#tagidentifiers .hint {
	color: white;
	text-shadow: none;
}

#tagidentifiers .inputlabel {
	color: white;
}

#tagidentifiers .inputlabel .tagidentifiername {

}

.type {
	background-color: lightblue;
}

.being {
	background-color: lightgreen;
}

.place {
	background-color: yellow;
}

.object {
	background-color: orange;
}

.emotion {
	background-color: violet;
}

.sensation {
	background-color: #9f1aff;
}

.displaynone {
	display: none !important;
}

.realitychecktaggroup {
	font-weight: bold;
}

.nopadding {
	padding: 0;
}

/* menu */

a {
	color: white;
}

.dreamlink {
	text-decoration: underline;
}

.dreamheader {
	border-top: 2px solid white;
	padding-top: 5px;
}

