/* generic home styles for WordMatch game */

body {
	background-color: #009900;
	color: black;
	font-family: "Arial";
}

.inputerrormessage {
	background-color: red;
	color: white;
}

/* stats */



/* overrides */

.hidden {

	display: none !important;
}
