{% extends "base.html" %}

{% block head %}

   	<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="/stylesheets/home.css">
	<title>
		About DreamNet
	</title>

{% endblock %}

{% block pageContent %}

	<div class="row" id="about">
		<div class="col-xs-12">
			<h1><span id="headerlogo"><img class="logo" id="headerlogoicon" src="/images/DreamNetIconGimp.png" alt="Picture of dream catcher">DreamNet</span></h1>
			
			<div id="headerquotebox">
				<span id="headerquote">"Until you make the unconscious conscious, it will direct your life, and you will call it fate."</span>
				<br>
				Carl Jung
			</div>

			<br>

			<p>DreamNet is an online community that helps users become more aware of their thoughts, their actions, their motivations, and the world in which they find themselves.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h2>How it Works</h2>
			
			<p>Users submit dreams (including a narrative and several important pieces of data about the dream).  Users can post the dream, either anonymously or under their username, for others to see and benefit from, or they can choose to keep the dream completely private.
			
			<p>Users can view others' dreams, and can press an "awareness" button next to a dream to indicate the dream helped them become more aware.  The "awarenss" button is DreamNet's "upvote" or "like" button.</p>

			<p>Users have profiles with interesting information (e.g., number of dreams, number of lucid dreams) that can be hidden with privacy settings, and users can customize and track their own "dream signs".</p>

			<p>Over time, users can see trends in their dreams.  Subscribing users can see lots of analysis and use other helpful tools (like a "dream sign designer") related to their dreams and DreamNet dreams as a whole.</p>

	<div class="row">
		<div class="col-xs-12">
			<h2>Benefits</h2>

			<p>[Cool stuff about becoming more aware of yourself and the world]
			[No pseudoscience.  Just "hey, dreams are cool, and we don't understand them so much, but becoming more aware is always a good thing so here we are."]</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">		
			<h3><img class="likedream" id="awarenessicon" src="/images/awareness.svg" alt="[awareness.sgv]"><br>Onward, to awareness!</h3>
		</div>
	</div>

{% endblock %}

