<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">

		{% block head %}

		<!-- ensure CSS media queries match the dimensions of the actual device, not the "zoomed out" device as the device zooms out to try and show everything at once -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		{% endblock %}
	</head>

	<body>

		<!-- start header -->
		{% block header %}

		<div class="outerdiv" id="navigationlinksdiv">

			<h4 id="navigationlinksheader">Menu</h4>

			<p>
				<a class="menulink" href="{{url_for('index')}}">Home</a> | 
				{% if username %}
					<a class="menulink" href="{{url_for('logout')}}">Sign out</a>
				{% else %}
					<a class="menulink" href="{{url_for('register')}}">Register a new account</a> | <a class="menulink" href="{{url_for('signin')}}">Sign in to an existing account</a>
				{% endif %} | <a class="menulink" href="{{url_for('about')}}">About WaterGem</a>
			</p>

		</div>

		{% endblock %}
		<!-- end footer -->

		<!-- start block for main page content -->
		{% block pageContent %}

		{% endblock %}
		<!-- end block for main page content -->

		<!-- start footer -->
		{% block footer %}

		<div class="outerdiv" id="footerdiv">

			<p>
				Created by <a href="https://github.com/ryanwc">Ryan William Connor</a> in September 2016.
				<br>
				Copyright © 2016 Ryan William Connor. All rights reserved.
			</p>

		</div>

		{% endblock %}
		<!-- end footer -->

		{% block scripts %}

		{% endblock %}

	</body>
</html>