{% extends "base.html" %}

{% block head %}

	{{ super() }}
	<meta name="google-site-verification" content="NTP3s5vk3p_XegMamJvIj1Bl0CGfOlZd0iZqr5_0wEE" />
	<title>WaterGem - Find the Closest Cheap and Clean Drinking Water</title>
	<link rel="stylesheet" href="stylesheets/home.css">

{% endblock %}


{% block header %}

	<div class="outerdiv" id="logodiv">
		<h1 id="headerlogo">WordRain</h1>
	</div>

	{{ super() }}

{% endblock %}


{% block pageContent %}

	<!-- gamplay area div -->	
	<div id="gamebox">

		<div id="optionsdiv">

		</div>

		<div id="airdiv">

		</div>

		<div id="grounddiv">

		</div>

		<div id="typinginputdiv">

		</div>

		<div id="definitiondiv">

		</div>

		<div id="statsdiv">

		</div>

	</div>
	<!-- end gameplay area div -->

{% endblock %}


{% block footer %}

	{{ super() }}

{% endblock}


{% block scripts %}

	<script src="bower_components/jquery.js"></script>
	<script src="bower_components/knockout.js"></script>		
	<script src="js/app.js"></script>
	
{% endblock %}