{% extends "base.html" %}

{% block head %}

	{{ super() }}
	<meta name="google-site-verification" content="NTP3s5vk3p_XegMamJvIj1Bl0CGfOlZd0iZqr5_0wEE" />
	<title>WordMatch - Test your memory in different languages</title>
	<link rel="stylesheet" href="stylesheets/home.css">

{% endblock %}


{% block header %}

	<div class="outerdiv" id="logodiv">
		<h1 id="headerlogo">WordMatch</h1>
	</div>

	{{ super() }}

{% endblock %}


{% block pageContent %}

	<!-- gamplay area div -->	
	<div id="gamebox">

		<div id="optionsdiv" data-bind="visible: selectingGame">

			<div class="optiondiv" id="optionsheadline">Game a New Game for User:&nbsp;<!-- ko if: user--><span data-bind="text: user().name()"></span><!-- /ko --></div>

			<div class="optiondiv">Select a language for the cards:</div>
			<div class="optiondiv" id="languageselectdiv">
				<select id="languageselect" data-bind="options: optionLanguages, optionsCaption: '-Select Language-', optionsText: 'name', value: inputLanguage"></select>
			</div>
			<div class="optiondiv"><span class="inputerrormessage" id="matchesmessage" data-bind="visible: showBadLanguageMessage">Language mush be Español, Deutsche, or ภาษาไทย</span></div>


			<div class="optiondiv">Enter the number of total matches for the game:</div>
			<div class="optiondiv" id="matchesinputdiv">
				<input id="matchesinput" data-bind="textInput: inputMatches, attr: { placeholder: '-number of matches-' }">
			</div>
			<div class="optiondiv"><span class="inputerrormessage" id="matchesmessage" data-bind="visible: showBadMatchesMessage">Matches must be an integer greater than 0 and less than 21</span></div>


			<div class="optiondiv">Enter the maximum match attempts to allow before losing the game:</div>
			<div class="optiondiv" id="maxattemptsinputdiv">
				<input id="maxattemptsinput" data-bind="textInput: inputMaxAttempts, attr: { placeholder: '-max attempts-' }">
			</div>
			<div class="optiondiv"><span class="inputerrormessage" id="maxattemptsmessage" data-bind="visible: showBadMaxAttemptsMessage">Max attempts must be an integer greater than or equal to the number of matches</span></div>


			<button id="creategamebutton" data-bind="click: createGame">Create Game</button>

		</div>

		<div id="cardsdiv"  data-bind="visible: !selectingGame()">
			<!-- ko with: game -->
			<!-- ko foreach: cards -->
			<div class="card cardfaceup" data-bind="html: text, visible: isFaceUp()"></div>
			<div class="card cardfacedown" data-bind="text: position, visible: !isFaceUp(), click: $root.flipCard"></div>
			<!-- /ko -->

			<div class="resultsdiv fullwidth">
				<div class="fullwidth result" id="gameovermessage" data-bind="visible: game_over()">Game over!  You <span id="gameresult" data-bind="text: gameOverMessage"></span></div>
				<div class="fullwidth result" id="currentmovemessage" data-bind="text: currentMoveMessage"></div>
				<div class="fullwidth result" id="lastmove">Last move was... <span id="lastmovemessage" data-bind="text: lastMoveMessage"></span></div>
				<div class="fullwidth" id="continuebuttondiv" data-bind="visible: waiting() && !game_over()">
					<button class="result" id="continuebutton" data-bind="click: resumeAfterMismatch">Press to continue</button>
				</div>
			</div>

			<div class="fullwidth" id="statsdiv">
				<div class="stat fullwidth">Number of match attempts: <span id="nummatchattempts" data-bind="text: num_match_attempts"></span></div>
				<div class="stat fullwidth">Number of match attempts remaining: <span id="remainingmatchattempts" data-bind="text: remaining_attempts"></span></div>
			</div>

			<div id="cancelbuttondiv" data-bind="visible: !game_over()">
				<button id="cancelgamebutton" data-bind="click: $root.cancelGame">Cancel Game</button>
			</div>
			<div id="exitbuttondiv" data-bind="visible: game_over()">
				<button id="exitgamebutton" data-bind="click: $root.exitGame">Exit Game</button>
			</div>
			<!-- /ko -->
		</div>

	</div>
	<!-- end gameplay area div -->

{% endblock %}


{% block footer %}

	{{ super() }}

{% endblock %}


{% block scripts %}

	<script src="bower_components/knockout.js"></script>	
	<script src="js/app.js"></script>
	<script src="https://apis.google.com/js/api.js?onload=initOAuth"></script>
	<script src="https://apis.google.com/js/client.js?onload=initEndpointsAPI"></script>
	
{% endblock %}